In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings   
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("data\stud.csv")
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [3]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
X = df.drop(columns=['math_score'],axis=1)
y= df['math_score']

In [5]:
X.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75

In [6]:
y.head()

0    72
1    69
2    90
3    47
4    76
Name: math_score, dtype: int64

In [7]:
num_features = X.select_dtypes(exclude='object').columns
cat_features = X.select_dtypes(include='object').columns

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder,StandardScaler

numeric_transformer = StandardScaler()
categoric_transformer = OneHotEncoder()

preprocessor= ColumnTransformer(
    [
        ('OneHotEncoder',categoric_transformer,cat_features),
        ('StandardScaler',numeric_transformer,num_features)
    ]
)

X = preprocessor.fit_transform(X)

In [8]:
X.shape

(1000, 19)

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)
X_train.shape, X_test.shape

((800, 19), (200, 19))

In [10]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [11]:
models ={
    'LinearRegression': LinearRegression(),
    'Lasso': Lasso(),
    'Ridge': Ridge(),
    'K-Neigbour Regression': KNeighborsRegressor(),
    'Decision Tree': DecisionTreeRegressor(),
    'Random Forest' : RandomForestRegressor(),
    'XGBRegressor' : XGBRegressor(),
    'AdaBoost': AdaBoostRegressor(),
    'CatBoosting': CatBoostRegressor(verbose=False),
}
model_list = []
r2_list =[]
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train)
    y_train_pred= model.predict(X_train)
    y_test_pred = model.predict(X_test)

    model_train_mae,model_train_rmse,model_train_r2 = evaluate_model(y_train,y_train_pred)
    model_test_mae,model_test_rmse,model_test_r2 = evaluate_model(y_test,y_test_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print("Model Performance for Training Set")
    print("RMSE: {:.4f}".format(model_train_rmse))
    print("MAE: {:.4f}".format(model_train_mae))
    print("R2_Score: {:.4f}".format(model_train_r2))

    print("=============================================")

    print("Model Performance for Testing Set")
    print("RMSE: {:.4f}".format(model_test_rmse))
    print("MAE: {:.4f}".format(model_test_mae))
    print("R2_Score: {:.4f}".format(model_test_r2))

    print("="*35)

    print('\n')

LinearRegression
Model Performance for Training Set
RMSE: 5.3263
MAE: 4.2711
R2_Score: 0.8742
=============================================
Model Performance for Testing Set
RMSE: 5.4053
MAE: 4.2262
R2_Score: 0.8799
===================================


Lasso
Model Performance for Training Set
RMSE: 6.5938
MAE: 5.2063
R2_Score: 0.8071
=============================================
Model Performance for Testing Set
RMSE: 6.5197
MAE: 5.1579
R2_Score: 0.8253
===================================


Ridge
Model Performance for Training Set
RMSE: 5.3233
MAE: 4.2650
R2_Score: 0.8743
=============================================
Model Performance for Testing Set
RMSE: 5.3904
MAE: 4.2111
R2_Score: 0.8806
===================================


K-Neigbour Regression
Model Performance for Training Set
RMSE: 5.7084
MAE: 4.5160
R2_Score: 0.8555
=============================================
Model Performance for Testing Set
RMSE: 7.2583
MAE: 5.6370
R2_Score: 0.7835
===================================


Decision Tree
Model Performance for Training Set
RMSE: 0.2795
MAE: 0.0187
R2_Score: 0.9997
=============================================
Model Performance for Testing Set
RMSE: 7.6286
MAE: 6.0450
R2_Score: 0.7608
===================================


Random Forest
Model Performance for Training Set
RMSE: 2.3199
MAE: 1.8457
R2_Score: 0.9761
=============================================
Model Performance for Testing Set
RMSE: 5.9531
MAE: 4.6000
R2_Score: 0.8544
===================================


XGBRegressor
Model Performance for Training Set
RMSE: 1.0073
MAE: 0.6875
R2_Score: 0.9955
=============================================
Model Performance for Testing Set
RMSE: 6.4733
MAE: 5.0577
R2_Score: 0.8278
===================================


AdaBoost
Model Performance for Training Set
RMSE: 5.7818
MAE: 4.7184
R2_Score: 0.8517
=============================================
Model Performance for Testing Set
RMSE: 6.1842
MAE: 4.8184
R2_Score: 0.8428
===================================


CatBoosting
Model Performance for Training Set
RMSE: 3.0427
MAE: 2.4054
R2_Score: 0.9589
=============================================
Model Performance for Testing Set
RMSE: 6.0086
MAE: 4.6125
R2_Score: 0.8516
===================================